<header class="background-borderlands">
  <nav class="navbar">
    <div class="nav-grid">
      <div class="flex-nav-left">
          <img src="../assets/logos/won-white.svg" alt="Logo Won">
          <a class="link" href="#">Home</a>
          <a href="#">Store</a>
      </div>
      <div class="flex-nav-right">
        <img class="search" src="assets/icons/home/search.svg" alt="">
        <img src="assets/icons/home/shopping_cart.svg" alt="">
        <a class="button-signIn" href="#">Sign in</a>
      </div>
    </div>
  </nav>
</header>
