<footer>
  <div class="footer-content">
      <img class="logo-won-black" src="../assets/logos/won-black.svg" alt="Logo on">
      <div class="grid-footer">
        <div class="grid-footer-column">
          <div class="contact">
              <ul>
                <li><h2>contact</h2></li>
                <li><p>suporte@wongames.gg</p></li>
                <li><p>+55 21 33283719</p></li>
              </ul>
          </div>
          <div class="followUs">
              <ul>
                <li><h2>follow us</h2></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Facebook</a></li>
              </ul>
          </div>
        </div>
        <div class="grid-footer-column">
          <div class="links">
              <ul>
                <li><h2>links</h2></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Discover</a></li>
              </ul>
          </div>
          <div class="location">
              <ul>
                <li><h2>location</h2></li>
                <li><p>Rua 7 de Maio</p></li>
                <li><p>527 - 89020330</p></li>
                <li><p>Rio de Janeiro, Brasil</p></li>
              </ul>
          </div>
        </div>
      </div>
      <p class="copywriting">Won Games 2020 © Todos os Direitos Reservados</p>
  </div>
</footer>
